@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background-main: #FFFDF9;
    --primary: #F04B06;
    --text: #0B0F0E;
    --text-secondary: #C73607;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    background-color: var(--background-main);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
    font-weight: 400;
}

p {
    font-size: 1.8rem;
    line-height: 27px;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 230px;
}


nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 16px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.6rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    max-width: 1400px;
}

.content:not(:first-child) {
    margin: 160px 40px 0;
}

.hero-content {
    max-width: 550px;
    margin-top: 56px;
    flex: 2;
    min-width: 450px;
}

.hero-content h1 {
    margin-bottom: 16px;
}

.hero-content p {
    margin-bottom: 48px;
}

label {
    font-size: 2rem;
    font-weight: 600;
}

form {
    gap: 4px;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
    align-items: center;
}

.hero-images {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: 130px;
    grid-auto-flow: dense;
    gap: 16px;
    max-width: 500px;
    min-width: 300px;
    height: 600px;
    overflow-y: hidden;
    flex: 1;
}

.item:nth-child(1) {
    grid-row: span 2;
}

.item:nth-child(3) {
    grid-row: span 2;
}

.item:nth-child(4) {
    grid-row: span 2;
}

.item:nth-child(6) {
    grid-row: span 2;
}

.hero-images::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(180deg, #FFFDF9 0%, #fefdfa00 100%);
}

.hero-images::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(180deg, #fffdf900 0%, #fefdfa 100%);
}

.hero-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.hero-content form input {
    flex: 1;
    height: 100%;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #17263a3f;
    border-radius: 16px;
    margin-right: 8px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    opacity: 50%;
}

.main-button {
    padding: 8px 16px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    font-weight: bold;
    color: #fff;
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.outline-button {
    padding: 8px 16px;
    border: 2px solid var(--primary);
    background-color: transparent;
    font-weight: bold;
    color: var(--text-secondary);
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
    gap: 8px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.ghost-button {
    padding: 8px 16px;
    gap: 8px;
    border: 2px solid transparent;
    background-color: transparent;
    font-weight: bold;
    color: var(--text-secondary);
    border-radius: 16px;
    cursor: pointer;
    height: 60px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.main-button:hover {
    background-color: var(--text-secondary);
    border-color: var(--text-secondary);
}

.outline-button:hover {
    background-color: var(--primary);
    color: #FFF;
}

.ghost-button:hover {
    border: 2px solid var(--primary);
}

.section-header {
    gap: 16px;
}

.section-content {
    gap: 90px;
    width: 100%;
}

.service-center > div:first-of-type{
    align-items: center;
    text-align: center;
}

.service-item{
    display: inherit;
    text-align:  center;
    gap: 32px;
}

.service-item .card-content{
    padding: 0;
}

.service-item .card-content div.flex-vertical{
    padding: 0;
    gap: 16px;
}

.service-item .card-content .hidden-row div.flex-vertical{
    padding: 0;
    gap: 16px;
}

.service-figure img{
    width: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 56px;
}

.hidden-row{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden-row.show {
    display: grid;
    opacity: 1;
}

.services-buttons{
    align-self: center;
    display: inherit;
    gap: 24px;
}

.employees-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 24px;
}

.card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #F0F3F8;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.group {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.span-2 {
    grid-column: span 2;
}

.card-container img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

div.card-container .flex-vertical {
    justify-content: space-between;
}

.card-content {
    flex: 1;
    padding: 16px;
    gap: 16px;
}

.card-content>div:first-of-type {
    gap: 4px;
}

.card-content>div:first-of-type>p {
    min-height: 42px;
}


.card-content p {
    font-size: 1.4rem;
    line-height: 20px;
}

.card-content span {
    font-size: 1.2rem;
    color: #858D98;
}

.volunteers-container {
    width: 100%;
    align-items: center;
    background-color: #F0F3F8;
    border: 1px solid #6699CA;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 32px;
    gap: 32px;
    margin: 80px 0;
}

.volunteers-container .icon-container {
    display: inherit;
    width: 80px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: #CADBED;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.volunteers-content {
    flex: 1;
    gap: 4px;
}

.volunteers-container button {
    align-items: center;
}

.outline-button:hover .icon-hover {
    stroke: #FFF;
}

.facilities-images {
    columns: 540px;
    gap: 16px;
    width: 96%;
    flex: 1;
    margin: 0 auto;
}

.facilities-images img {
    width: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.facilities-images > * {
    break-inside: avoid;
    margin-bottom: 16px;
}

.facilities-buttons {
    display: inherit;
    justify-content: center;
    gap: 24px;
}

.facilities-images-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    align-items: center;
}

.facilities-modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1080px;
    height: 600px;
    padding: 24px;
    gap: 24px;
    border-radius: 24px;
    background-color: #fff;
}


.facilities-images-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.facilities-images-container img {
    width: 100%;
    object-fit: contain;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.slider-image {
    min-width: 100%;
    transition: opacity 1s;
}

.slider-button {
    width: 56px;
    aspect-ratio: 1;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    border-radius: 16px;
    user-select: none;
}
/* Inicio sección testimonios */

#testimonials .section-content{
    gap: 24px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    overflow-x: auto;
}

.testimonial {
    display: inherit;
    gap: 24px;
}

.stars {
    display: flex;
    gap: 8px;
}

.star {
    opacity: 0;
    width: 28px;
    height: 28px;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 1.2s ease;
    -webkit-transition: opacity 0.5s ease, transform 1.2s ease;
    -moz-transition: opacity 0.5s ease, transform 1.2s ease;
    -ms-transition: opacity 0.5s ease, transform 1.2s ease;
    -o-transition: opacity 0.5s ease, transform 1.2s ease;
}

.star.visible {
    opacity: 1;
    transform: translateX(0);
}

.star:nth-child(1) {
    transition-delay: 0.2s;
}

.star:nth-child(2) {
    transition-delay: 0.3s;
}

.star:nth-child(3) {
    transition-delay: 0.4s;
}

.star:nth-child(4) {
    transition-delay: 0.5s;
}

.star:nth-child(5) {
    transition-delay: 0.6s;
}

.author {
    font-weight: bold;
}

.relation {
    color: #555555;
    font-weight: 500;
}

/* Fin testimonios */

/* FAQ */

#faq .section-header{
    align-items: center;
}

#faq .section-content{
    gap: 80px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 80%;
    align-self: center;
}

.faq-item {
    display: grid;
    gap: 16px;
    padding: 16px 0;
}

.faq-question {
    width: 100%;
    text-align: left;
    border: none;
    font-weight: 600;
    background-color: inherit;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    max-height: 0px;
    line-height: 1.8;
    background-color: inherit;
    gap: 12px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
}

.faq-answer p{
    font-size: 1.8rem;
}

.faq-toggle {
    font-size: 20px;
}

/* Fin FAQ*/

/* CTA styles*/
#cta {
    background-color: #37474F;
    color: #ffffff;
    border-radius: 24px;
    padding: 42px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    flex: 2;
    gap: 48px;
    max-width: 600px;
}

.cta-text{
    display: inherit;
    justify-content: center ;
    gap: 56px;
}

.cta-text form {
    gap: 8px;
}

.cta-text form div{
    gap: 8px;
}

.cta-text div:first-child {
    display: grid;
    gap: 8px;
}

.cta-container form label{
    font-weight: 500;
}

.cta-text form input {
    flex: 1 ;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid rgba(23, 38, 58, 0.3);
    background-color: rgba(127, 127, 127, 0.63);
    border-radius: 16px;
    color: #FFFFFF;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



.cta-text form input:focus {
    outline-width: 0;
    border: 3px solid #FB8501;
}

.cta-text form input::placeholder {
    color: rgba(255, 254, 254, 0.63);

}

#cta img {
    flex: 1;
    width: 100%;
    height: 500px;
    border-radius: 24px;
    object-fit: cover;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
/* end CTA styles */

/* Footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #FFEBD4;
    margin-top: 300px;
    padding: 40px 120px;
}

footer .flex-vertical{
    gap: 144px;
}

.footer-row{
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    width: 100%;
}

.footer-container {
    margin: auto;
    justify-content: space-between;
    gap: 137px;
    max-width: 1400px;
    width: 100%;
}

.footer-span{
    height: 1px;
    width: 156px;
    border: 1px solid black;
}

.footer-logo img {
    height: 80px; /* Ajustar según el tamaño de tu logo */
}

.footer-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.footer-rights {
    display: flex;
    text-align: center;
}

.span-rights{
    height: 1px;
    width: 156px;
    border: 1px solid black;
}

.footer-rights a img {
    height: 24px; /* Ajustar según el tamaño del icono de Instagram */
    margin-left: 10px;
}


@media (width < 870px) {

    .content {
        margin: 0 16px;
    }

    .hero-content {
        max-width: none;
        min-width: 0;
    }

    .hero-images {
        display: none;
    }

   
    
}

@media (1040px < width < 1220px) {
    .facilities-images {
        columns: 340px;
    }
}

@media (width > 1220px) {
    .facilities-images {
        columns: 440px;
    }
}

